*{
    box-sizing: border-box;
    font-size: 24px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html, body {
    background-color: rgb(128, 199, 140);
}

button {
    padding: 20px;
    font-weight: bold;
}

.wrapper {
    width: 400px;
    padding: 25px 10px;
    border-radius: 25px;
    margin: 0 auto;
    background-color: rgb(59, 59, 59);
}

.display {
    height: 30px;
    margin: 15px 0;
    background-color: whitesmoke;
    text-align: right;
}

.secondaryDisplay {
    height: 30px;
    margin: 15px 0;
    background-color: whitesmoke;
    text-align: right;
}

.keypadWrapper {
    display: flex;
    justify-content: space-evenly;
}

.keyPadOperators>button {
    background-color: grey;
}

.keyPadOperators {
    display: flex;
    flex-direction: column;
    flex: 1 0;
    width: 100px;
}

.keyPadNumbers>button {
    color:white;
    margin: 2px;
    background-color: rgb(29, 29, 29);
}

.keyPadNumbers {
    display: flex;
    flex:1 0 1;
    flex-wrap: wrap;
    width: 250px;
}

